<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/index-style.css" >
        <script src="../public/index-script.js" defer ></script>
        <title>商品清单</title>
    </head>
    <body>
        <header id="header">
            <div id="header-top">
                <h1>商品清单</h1>
                <input type="text" placeholder="搜索商品" >
            </div>
            <nav id="header-nav">
                <ul id="header-nav-ul">
                    <li class="active">全部</li>
                    <li>类别</li>
                    <li>类别</li>
                    <li>类别</li>
                    <li>类别</li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
            <div class="main-item">
                <img src="../img/iphone-15-pro.jpg">
                <h3>iphone 15 pro</h3>
                <h2>8999</h2>
            </div>
        </main>
        <footer></footer>
    </body>
</html>